html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    flex: 1;
    flex-wrap: wrap;
    padding: 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay, #modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

#players-panel {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#player1, #player2 {
    height: 150px;
    width: 150px;
    background-color: rgb(200, 200, 200);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 15px;
    box-shadow: -5px 10px 20px 0 rgba(0,0,0,0.2);
}

#player2, .x-scaled {
    transform:scaleX(-1);
}

.vs {
    font-size: xx-large;
    text-shadow: 0 0 5px rgb(50, 50, 50);
    color: white;
}

.app-controls {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.app-controls input {
    border: 2px solid #bbbbbb;
    background-color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
}

input.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

h1 {
    text-align: center;
    padding-top: 10px;
}

.modal-body {
    display: flex;
    background: wheat;
    padding: 10px;
    box-shadow: 0 20px 30px rgba(100, 100, 100, 0.5);
}

.modal-body .fighter-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5px;
}

.modal-body .fighter-details span {
    padding-bottom: 5px;
}

.modal-body .fighter-avatar {
    height: 200px;
}

.modal-body .fighter-name {
    align-self: center;
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: 21px;
}

.modal-body .fighter-health {
    color: red;
}

.modal-body .fighter-attack {
    color: blue;
}

.modal-body .fighter-defense {
    color: green;
}

.fighter-details input[type='text'] {
    text-align: center;
    width: 40px;
    padding: 5px 7px;
}

.modal-buttons {
    align-self: stretch;
    display: flex;
    justify-content: space-around;
    flex: 1 0 0;
    align-items: flex-end;
}

.battleground {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.left-fighter, .right-fighter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-bar, .right-bar {
    text-align: center;
    width: 75%;
    background: linear-gradient(to right, red 100%, white 100%);
    font-size: small;
    color: rgb(220, 220, 0);
    border-radius: 8px;
    border: 1px solid red;
    margin-bottom: 15px;
}

.left-popup, .right-popup {
    position: relative;
    top: -200px;
    visibility: hidden;
    padding: 15px;
    background-image: radial-gradient(yellow 30%, rgba(0, 0, 0, 0) 80%);
}

.message {
    position: absolute;
    left: calc(50% - 150px);
    top: 45%;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    box-shadow: -5px 10px 20px rgb(200, 200, 200);
    visibility: hidden;
    text-align: center;
    z-index: 2;
}
